
pandas
numpy
streamlit
matplotlib
seaborn
secure-smtplib
openpyxl==3.0.5
matplotlib
seaborn
xlsxwriter
streamlit-pandas-profiling==0.1.2
sklearn

plotly
google-cloud-bigquery
pandas_gbq
google_api_python_client
google-auth-oauthlib
base58


yfinance
lxml
win-unicode-console
xlrd
openpyx
command
